@import "./scss/colors.scss";

body {
  background-color: $light-gray;
  color: $black-font;
  margin: 0;
  font-family: -apple-system, Arial, Helvetica, sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
input:focus {
  outline: none;
}

input::placeholder {
  color: $medium-gray;
}

button:hover {
  cursor: pointer;
}
button:active {
  opacity: 0.85;
}
